# Firebase Configuration (Client SDK)
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=

# Admin Configuration
NEXT_PUBLIC_ADMIN_UID=""
ADMIN_UID=""

# --- Firebase Admin SDK (for server) ---
FIREBASE_PROJECT_ID=""
FIREBASE_CLIENT_EMAIL=""
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\\n-----END PRIVATE KEY-----\n"

# Email Configuration (Nodemailer etc.)
EMAIL_USER = ""
EMAIL_PASS = ""

NODE_ENV=development

NEXT_PUBLIC_SITE_URL=